@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary-sm {
    @apply h-8 rounded-2xl bg-primary py-1 px-3 font-medium text-white;
  }
  .btn-secondary {
    @apply h-10 rounded-2xl bg-secondary-dark py-2 px-4 font-medium text-white;
  }
  .input {
    @apply w-full rounded-2xl border-2 border-secondary-dark bg-transparent py-1 px-3 font-medium text-secondary-dark;
  }
  input.input {
    @apply h-10;
  }
  .input-readonly {
    @apply input cursor-default focus:outline-none focus:border-secondary-dark focus:ring-0 focus-visible:outline-none;
  }
  .input-primary {
    @apply input border-2 border-primary focus:outline-none focus:border-primary focus:ring-0 focus-visible:outline-none;
  }
  .edit-svg path.cls-1 {
    @apply fill-primary;
  }
  .cover-edit-icon {
    @apply absolute bottom-8 right-8 2xl:right-36 flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border-none bg-white p-1;
  }
  .cover {
    @apply absolute -bottom-8 right-16 2xl:right-44 w-120 rounded-2xl border-2 border-primary bg-white px-2 py-1 text-xs;
  }
  .cover-edit-btn {
    @apply cursor-pointer m-1 p-1 rounded-lg border-2 border-primary text-left block;
  }
  .img-lightbox {
    @apply fixed top-0 bottom-0 left-0 right-0 bg-text bg-opacity-80;
  }
  .img-lightbox img {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .close-lightbox-btn {
    @apply absolute top-3 right-3 bg-transparent border-none text-white;
  }
}

@layer utilities {
  @font-face {
    font-family: "Rollgates Luxury";
    src: local("Rollgates Luxury"),
      url("/fonts/ROLLGATES LUXURY.ttf") format("opentype"),
      url("/fonts/ROLLGATES LUXURY.woff2") format("woff2");
  }

  @font-face {
    font-family: "ARBFONTS BEDAYAH";
    src: local("ARBFONTS BEDAYAH"),
      url("/fonts/ARBFONTS-BEDAYAH_V.1.1.OTF") format("opentype"),
      url("/fonts/ARBFONTS-BEDAYAH_V.1.1.woff2") format("woff2");
  }

  body {
    --primary: #de9f26;
    --transparent-primary: rgba(227, 191, 34, 0.5);
    --secondary: #193f1f;
    --secondary-dark: #283318;
    --text: #231f20;
  }
  .absolute-top {
    margin-top: -100px;
  }
  .bg-blend-color {
    background-blend-mode: color;
  }
  .bg-blend-multiply {
    background-blend-mode: multiply;
  }

  .hero-bg {
    background-blend-mode: color, normal;
    background-size: cover;
    background-position: top;
  }
  .border-b-1 {
    border-bottom-width: 1px;
  }

  .ornament-bg {
    background-image: url("/ornament-top-60.png");
    background-position: top left;
  }

  .ornament-bg-bottom {
    background-image: url("/ornament-bottom-60.png");
    background-position: bottom right;
  }

  .h-500 {
    height: 500px;
  }
  .min-h-500 {
    min-height: 500px;
  }
  .min-h-300 {
    min-height: 300px;
  }
  .h-400 {
    height: 400px;
  }
  .h-250 {
    height: 250px;
  }
  .h-300 {
    height: 300px;
  }
  .h-200 {
    height: 200px;
  }
  .h-180 {
    height: 180px;
  }
  .h-100 {
    height: 100px;
  }
  .h-screen-2 {
    height: 120vh;
  }

  .w-120 {
    width: 120px;
  }
  .w-180 {
    width: 180px;
  }
  .w-250 {
    width: 280px;
  }
  .w-300 {
    width: 300px;
  }
  .w-600 {
    width: 600px;
  }

  .nav-links {
    display: flex;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }

  .product {
    line-height: 0.5;
  }

  .circle {
    border-color: var(--primary);
    background-image: linear-gradient(
        var(--transparent-primary),
        var(--transparent-primary)
      ),
      url("/asset1.png");
    background-size: cover;
    background-position: center;
  }
}

.banner::before {
  background-image: url("/ornament.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 200%;
  position: absolute;
  left: 0;
  right: 0;
  top: -50%;
  z-index: -1;
  content: "";
}

.footer tr {
  height: 40px;
}
.footer td {
  height: 40px;
}

.slick-arrow::before {
  content: "" !important;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
